<div class="w-full h-40 bg-gradient-to-b from-gray-800 to-gray-700 flex items-end text-right">
  <div class="w-full py-5 px-6 text-6xl text-white font-thin">
    @if ( subResultText() !== '0') {
      <span id="sub-result" class="text-4xl"> {{ subResultText() }} {{ lastOperator() }} </span>
      <br>
    }
    <span>{{ resultText() }}</span>

  </div>
</div>
<div class="w-full bg-gradient-to-b from-indigo-400 to-indigo-500">
  <div class="flex w-full">
    <calculator-bottom (onClick)="handleClick($event)">C</calculator-bottom>
    <calculator-bottom (onClick)="handleClick($event)" >+/-</calculator-bottom>
    <calculator-bottom (onClick)="handleClick($event)" >%</calculator-bottom>
    <calculator-bottom (onClick)="handleClick($event)"  isComand>÷</calculator-bottom>
  </div>
  <div class="flex w-full">
    <calculator-bottom (onClick)="handleClick($event)" >7</calculator-bottom>
    <calculator-bottom (onClick)="handleClick($event)" >8</calculator-bottom>
    <calculator-bottom (onClick)="handleClick($event)" >9</calculator-bottom>
    <calculator-bottom (onClick)="handleClick($event)"  isComand>x</calculator-bottom>

    </div>
    <div class="flex w-full">
      <calculator-bottom (onClick)="handleClick($event)" >4</calculator-bottom>
      <calculator-bottom (onClick)="handleClick($event)" >5</calculator-bottom>
      <calculator-bottom (onClick)="handleClick($event)" >6</calculator-bottom>
      <calculator-bottom (onClick)="handleClick($event)" isComand>-</calculator-bottom>
    </div>
    <div class="flex w-full">
      <calculator-bottom (onClick)="handleClick($event)" >1</calculator-bottom>
      <calculator-bottom (onClick)="handleClick($event)" >2</calculator-bottom>
      <calculator-bottom (onClick)="handleClick($event)" >3</calculator-bottom>
      <calculator-bottom (onClick)="handleClick($event)" isComand>+</calculator-bottom>
    </div>
    <div class="flex w-full">
      <calculator-bottom (onClick)="handleClick($event)" >0</calculator-bottom>
      <calculator-bottom (onClick)="handleClick($event)" >.</calculator-bottom>
      <calculator-bottom (onClick)="handleClick($event)"  isComand isDobleSize>=</calculator-bottom>
    </div>
  </div>
