<div class="w-full h-40 bg-gradient-to-b from-gray-800 to-gray-700 flex items-end text-right">
  <div class="w-full py-5 px-6 text-6xl text-white font-thin">
    <span class="text-4xl"> 50 + </span>
    <br>
    <span>340.0</span>

  </div>
</div>
<div class="w-full bg-gradient-to-b from-indigo-400 to-indigo-500">
  <div class="flex w-full">
    <calculator-bottom>C</calculator-bottom>
    <calculator-bottom>+</calculator-bottom>
    <calculator-bottom>%</calculator-bottom>
    <calculator-bottom isComand>÷</calculator-bottom>
  </div>
  <div class="flex w-full">
    <calculator-bottom>7</calculator-bottom>
    <calculator-bottom>8</calculator-bottom>
    <calculator-bottom>9</calculator-bottom>
    <calculator-bottom isComand>x</calculator-bottom>

    </div>
    <div class="flex w-full">
      <calculator-bottom>4</calculator-bottom>
      <calculator-bottom>5</calculator-bottom>
      <calculator-bottom>6</calculator-bottom>
      <calculator-bottom>-</calculator-bottom>
    </div>
    <div class="flex w-full">
      <calculator-bottom>1</calculator-bottom>
      <calculator-bottom>2</calculator-bottom>
      <calculator-bottom>3</calculator-bottom>
      <calculator-bottom>+</calculator-bottom>
    </div>
    <div class="flex w-full">
      <calculator-bottom>0</calculator-bottom>
      <calculator-bottom>.</calculator-bottom>
      <calculator-bottom isComand isDobleSize>=</calculator-bottom>
    </div>
  </div>
